.circle {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
  }
}

.circle_small {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    left: -29px;
  }
}

.circle_connection {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #fff;
  }
}
