@import "./styles/base/normalize";

html {
  font-size: 10px;
}

body {
  color: #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../public/img/background/girl.jpg");
  background-size: cover;
  background-position: center calc(50% + 54rem);
}

main {
  // color: #fff;
  // background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  //   url("../public/img/background/girl.jpg");
  // background-size: cover;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

.wrapper {
  padding: 0 2rem;
}

.swiper-slide-shadow {
  background: unset !important;
}
