@import "./styles/base/normalize";

html {
  // font-size: 10px;
}

body {
  // color: #fff;
  // background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/background/girl.jpg");
  // background-size: cover;
  // background-position: center calc(50% + 468px);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 20px;
}

//Убираем тень у карточек с достижениями
.swiper-slide-shadow {
  background: unset !important;
}
